bin/Debug/KCBS.HT.RollCall.dll
bin/Debug/KCBS.HT.RollCall.pdb
bin/Debug/Kcbs_RollCall.dll
bin/Debug/Kcbs_RollCall.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/KCBS.HT.RollCall.csproj.CoreCompileInputs.cache
obj/Debug/KCBS.HT.RollCall.csproj.FileListAbsolute.txt
obj/Debug/KCBS.HT.RollCall.csproj.GenerateResource.Cache
obj/Debug/KCBS.HT.RollCall.dll
obj/Debug/KCBS.HT.RollCall.frmRollCallConfig.resources
obj/Debug/KCBS.HT.RollCall.pdb
obj/Debug/Kcbs_RollCall.csproj.CoreCompileInputs.cache
obj/Debug/Kcbs_RollCall.csproj.FileListAbsolute.txt
obj/Debug/Kcbs_RollCall.csproj.GenerateResource.Cache
obj/Debug/Kcbs_RollCall.csprojResolveAssemblyReference.cache
obj/Debug/Kcbs_RollCall.dll
obj/Debug/Kcbs_RollCall.frmRollCallConfig.resources
obj/Debug/Kcbs_RollCall.pdb
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
